{% load static %}
<!DOCTYPE HTML>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<!--font, css, js -->
	<?php include '_includes/head.html';?>
</head>

<body>
	<div class="wrapper home-page">

		<div class="showcase js-showcase">
			<img src="/images/showcase-img.jpg" alt="">
		</div>


		<header id="header-menu">
			<?php include '_includes/header-menu.html';?>
		</header>

		<main>

			<section id="het-verhaal" class="history content-element --full-grid">
				<div class="ce__img">
					<img src="/images/history-img.jpg" alt="">
				</div>
				<div class="ce__content">
					<h2>20 jaar Natuurlijk Bloembinders, tijd voor een eigen gin</h2>
					<div class="desc --content">
						<p>Bij Natuurlijk Bloembinders werken we al 20 jaar met het mooiste wat de natuur biedt! Bloemen, planten, kruiden en groen gaan elke dag door onze handen, we creëren er de prachtigste boeketten en florale arrangementen mee.</p>
						<p>Naast onze hartstocht voor het florale werk, sluimerde er nog een andere passie, namelijk die voor gin. Die passie wortelde verder tijdens de opendeurdagen van Natuurlijk en op evenementen zoals Wezel Culinair. We serveerden er premium gins met een eigengemaakte selectie van botanicals, diepgevroren in ijs, ter plekke losgehakt en geserveerd.</p>
						<p>20 jaar Natuurlijk Bloembinders vieren we in gepaste stijl en hoe kan dat beter dan met de lancering van onze eigen gin? FLOWERSNGIN bevat 20 botanicals die we in de loop van de jaren zorgvuldig selecteerden en waarvan we zelf veel houden.</p>
					</div>
					<a href="/webshop.php" class="btn --black">Shop the bottle</a>
				</div>
			</section>

			<section class="botanicals">
				<div class="container --full-container js-tabs">

					<ul class="js-tabs__head tabs__head">
						<li class="active">Summer</li>
						<li>Autumn</li>
						<li>Winter</li>
						<li>Spring</li>
					</ul>

					<div class="section-title --center">
						<h2>Een greep uit de botanicals</h2>
					</div>

					<div class="js-tabs__content active">
						<div class="botanic-list js-botanic-list">
							<div class="botanic-single">
								<img src="/images/botanicals/jeneverbes.png" alt="">
								<span>jeneverbes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/framboos.png" alt="">
								<span>framboos</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/cranberry.png" alt="">
								<span>cranberry</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/tijm.png" alt="">
								<span>tijm</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozemarijn.png" alt="">
								<span>rozemarijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/basilicum.png" alt="">
								<span>basilicum</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/pepermunt.png" alt="">
								<span>pepermunt</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/limoen.png" alt="">
								<span>limoen</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/perzik.png" alt="">
								<span>perzik</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozenblaadjes.png" alt="">
								<span>rozenblaadjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vanille.png" alt="">
								<span>vanille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/hibiscus.png" alt="">
								<span>hibiscus</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/kamille.png" alt="">
								<span>kamille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/viooltjes.png" alt="">
								<span>viooltjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/jasmijn.png" alt="">
								<span>jasmijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/kardemom.png" alt="">
								<span>kardemom</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/iriswortel.png" alt="">
								<span>iriswortel</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/gember.png" alt="">
								<span>gember</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/limoengras.png" alt="">
								<span>limoengras</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vlierbloesem.png" alt="">
								<span>vlierbloesem</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/lavendel.png" alt="">
								<span>lavendel</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/oranjebloesem.png" alt="">
								<span>oranjebloesem</span>
							</div>
						</div>
					</div>

					<div class="js-tabs__content">
						<div class="botanic-list js-botanic-list">
							<div class="botanic-single">
								<img src="/images/botanicals/jeneverbes.png" alt="">
								<span>jeneverbes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/framboos.png" alt="">
								<span>framboos</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/cranberry.png" alt="">
								<span>cranberry</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/tijm.png" alt="">
								<span>tijm</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozemarijn.png" alt="">
								<span>rozemarijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/basilicum.png" alt="">
								<span>basilicum</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/pepermunt.png" alt="">
								<span>pepermunt</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/limoen.png" alt="">
								<span>limoen</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/perzik.png" alt="">
								<span>perzik</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozenblaadjes.png" alt="">
								<span>rozenblaadjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vanille.png" alt="">
								<span>vanille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/perzik.png" alt="">
								<span>perzik</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozenblaadjes.png" alt="">
								<span>rozenblaadjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vanille.png" alt="">
								<span>vanille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vanille.png" alt="">
								<span>vanille</span>
							</div>
						</div>
					</div>

					<div class="js-tabs__content">
						<div class="botanic-list js-botanic-list">
							<div class="botanic-single">
								<img src="/images/botanicals/jeneverbes.png" alt="">
								<span>jeneverbes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/framboos.png" alt="">
								<span>framboos</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/cranberry.png" alt="">
								<span>cranberry</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/tijm.png" alt="">
								<span>tijm</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozemarijn.png" alt="">
								<span>rozemarijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/basilicum.png" alt="">
								<span>basilicum</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/pepermunt.png" alt="">
								<span>pepermunt</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/limoen.png" alt="">
								<span>limoen</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/perzik.png" alt="">
								<span>perzik</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozenblaadjes.png" alt="">
								<span>rozenblaadjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/vanille.png" alt="">
								<span>vanille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/hibiscus.png" alt="">
								<span>hibiscus</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/kamille.png" alt="">
								<span>kamille</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/viooltjes.png" alt="">
								<span>viooltjes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/jasmijn.png" alt="">
								<span>jasmijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/kardemom.png" alt="">
								<span>kardemom</span>
							</div>
						</div>
					</div>

					<div class="js-tabs__content">
						<div class="botanic-list js-botanic-list">
							<div class="botanic-single">
								<img src="/images/botanicals/jeneverbes.png" alt="">
								<span>jeneverbes</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/framboos.png" alt="">
								<span>framboos</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/cranberry.png" alt="">
								<span>cranberry</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/tijm.png" alt="">
								<span>tijm</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/rozemarijn.png" alt="">
								<span>rozemarijn</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/basilicum.png" alt="">
								<span>basilicum</span>
							</div>
							<div class="botanic-single">
								<img src="/images/botanicals/pepermunt.png" alt="">
								<span>pepermunt</span>
							</div>
						</div>
					</div>

					<a href="/webshop.php" class="btn --white">Shop the bottle</a>

				</div>
			</section>

			<section id="reviews" class="reviews">
				<div class="section-title --center container">
					<h2>Reacties van de mensen</h2>
				</div>
				<div class="reviews-slider js-reviews-slider">

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

					<div class="reviews__single">
						<div class="stars">
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
							<div class="yellow"></div>
						</div>
						<div class="desc">
							<p>Je voelt de passie in deze florale en toegankelijke gin die gemakkelijk en origineel te drinken is! Thé place to be is Natuurlijk in ‘s Gravenwezel!</p>
							<p>Maar weet je plaatsen waar dit juweeltje moet geschonken worden?</p>
							<p>Zeker vermelden dan!</p>
							<p>Met de kunstig uitgewerkte fles op zich geniet je zelfs leeg nog lang na!</p>
						</div>
						<h4>Peter Janssen</h4>
					</div>

				</div>
			</section>

			<section id="recepten" class="recepten">
				<div class="container --full-container js-tabs">

					<ul class="js-tabs__head tabs__head">
						<li class="active">Summer</li>
						<li>Autumn</li>
						<li>Winter</li>
						<li>Spring</li>
					</ul>

					<div class="section-title --center">
						<h2>Recepten met Flowers ’N’ Gin</h2>
					</div>

					<div class="js-tabs__content active">
						<div class="recepten-list">

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/limoengras.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lemongrass</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										1/4 Citroengras <br>
										Muntblaadje</p>
									<h6>Tonic</h6>
									<p>Double Dutch Indian Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/gember.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Ginger</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										Schijfjes gember geplet</p>
									<h6>Mix in</h6>
									<p>Double Dutch Ginger Ale</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/rozemarijn.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Rosemary</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Lavendel <br>
										Rozemarijn</p>
									<h6>Mix in</h6>
									<p>Double Dutch Elderflower Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/basilicum.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Basil Smash</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>10 basilicum blaadjes <br>
										1/2 citroen in stukjes <br>
										2 cl suikersiroop of 1 tl rietsuiker <br>
										2,5 cl citroensap of sap van 1/2</p>
									<h6>Tonic</h6>
									<p>Double Dutch Pomegranate & Basil</p>
									<h6>Gin</h6>
									<p>5cl FLOWERSNGIN Summer Edition</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

						</div>
					</div>

					<div class="js-tabs__content">
						<div class="recepten-list">

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/botanicals/cranberry.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										1/4 Citroengras <br>
										Muntblaadje</p>
									<h6>Tonic</h6>
									<p>Double Dutch Indian Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/gember.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										Schijfjes gember geplet</p>
									<h6>Mix in</h6>
									<p>Double Dutch Ginger Ale</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/rozemarijn.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Lavendel <br>
										Rozemarijn</p>
									<h6>Mix in</h6>
									<p>Double Dutch Elderflower Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/basilicum.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>10 basilicum blaadjes <br>
										1/2 citroen in stukjes <br>
										2 cl suikersiroop of 1 tl rietsuiker <br>
										2,5 cl citroensap of sap van 1/2</p>
									<h6>Tonic</h6>
									<p>Double Dutch Pomegranate & Basil</p>
									<h6>Gin</h6>
									<p>5cl FLOWERSNGIN Summer Edition</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

						</div>
					</div>

					<div class="js-tabs__content">
						<div class="recepten-list">

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/limoengras.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										1/4 Citroengras <br>
										Muntblaadje</p>
									<h6>Tonic</h6>
									<p>Double Dutch Indian Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/gember.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										Schijfjes gember geplet</p>
									<h6>Mix in</h6>
									<p>Double Dutch Ginger Ale</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/rozemarijn.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Lavendel <br>
										Rozemarijn</p>
									<h6>Mix in</h6>
									<p>Double Dutch Elderflower Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/basilicum.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>10 basilicum blaadjes <br>
										1/2 citroen in stukjes <br>
										2 cl suikersiroop of 1 tl rietsuiker <br>
										2,5 cl citroensap of sap van 1/2</p>
									<h6>Tonic</h6>
									<p>Double Dutch Pomegranate & Basil</p>
									<h6>Gin</h6>
									<p>5cl FLOWERSNGIN Summer Edition</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

						</div>
					</div>

					<div class="js-tabs__content">
						<div class="recepten-list">

							<div class="recepten-single --content">
								<div class="img">
									<img src="/images/recepten/limoengras.png" alt="">
								</div>
								<div class="content">
									<h3>
										<span>Lorem ipsum, dolor sit</span>
									</h3>
									<h5>Ingrediënten</h5>
									<h6>Botanicals</h6>
									<p>Geplette jeneverbes <br>
										1/4 Citroengras <br>
										Muntblaadje</p>
									<h6>Tonic</h6>
									<p>Double Dutch Indian Tonic</p>
									<h5>Bereiding</h5>
									<ol>
										<li>Neem een groot glas en vul met ijs</li>
										<li>Doe 5cl FLOWERSNGIN in het glas</li>
										<li>Voeg de botanicals toe</li>
										<li>Ruik en ervaar de aroma’s</li>
										<li>Overgiet met tonic</li>
										<li>Proef en geniet met mate</li>
									</ol>
								</div>
							</div>

						</div>
					</div>

					<a href="#contact" class="btn --white js-scroll-to">Een eigen recept?</a>
					<p class="small --center">Deel het met ons en wie weet vind je het binnenkort terug op de website</p>

				</div>
			</section>

			<section id="contact" class="contact-section">
				<div class="container">
					<div class="contact-form">
						<div class="section-title --center">
							<h2>Vragen, opmerkingen, <br>een lekker recept delen?</h2>
						</div>
						<form action="">
							<div class="form-row">

								<div class="col col-2">
									<input type="text" name="first-name" placeholder="Voornaam*" required="" id="c-first-name">
									<label for="c-first-name">Voornaam*</label>
								</div>

								<div class="col col-2">
									<input type="text" name="last-name" placeholder="Achternaam*" required="" id="c-last-name">
									<label for="c-last-name">Achternaam*</label>
								</div>

								<div class="col col-2">
									<input type="tel" name="tel" placeholder="Telefoonnummer" id="c-tel">
									<label for="c-tel">Telefoonnummer</label>
								</div>

								<div class="col col-2">
									<input type="email" name="email" placeholder="E-mailadres*" required="" id="c-email">
									<label for="c-email">E-mailadres*</label>
								</div>

								<div class="col col-1">
									<select name="subject" id="c-subject" required>
										<option value="">Ik heb een vraag over mijn bestelling</option>
										<option value="2">Ik heb een eigen recept</option>
										<option value="3">Andere</option>
									</select>
									<label for="c-subject">Onderwerp*</label>
								</div>

								<div class="col col-1">
									<textarea name="message" placeholder="Vraag / opmerking*" required="" id="c-message"></textarea>
									<label for="c-message">Vraag / opmerking*</label>
								</div>

								<div class="col col-1 privacy-col">
									<input type="checkbox" name="privacy" id="c-privacy" value="" required="">
									<label for="c-privacy">Ik ga akkoord met de <a href="#">Privacy policy</a>.</label>
								</div>

								<div class="col col-1 submit-col">
									<button type="submit" class="btn --black">VERSTUUR BERICHT</button>
								</div>

							</div>

						</form>
					</div>
				</div>
			</section>

		</main>

		<footer id="footer-page">
			<?php include '_includes/footer.html';?>
		</footer>

	</div>
</body>
</html>