Django~=3.2.8
django-model-utils~=4.1.1
django-modeltranslation~=0.17.5
django-ckeditor~=6.2.0
django-admin-honeypot~=1.1.0
mollie-api-python~=2.12.0
python-environ~=0.4.54
django-admin-sortable2~=1.0.4
